body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: #fff;
}

.container {
    text-align: center;
}

.clock {
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}